<a href="https://colab.research.google.com/github/mdsujan-mridha/function-in-Python/blob/main/Function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Function**

**Parameter  Details**

arg1, ..., argN Regular arguments

*args Unnamed positional arguments

kw1, ..., kwN Keyword-only arguments

**kwargs The rest of keyword arguments *italicized text*

Functions in Python provide organized, reusable and modular code to perform a set of specific actions. Functions
simplify the coding process, prevent redundant logic, and make the code easier to follow. This topic describes the
declaration and utilization of functions in Python.

Python has many built-in functions like **print()**, **input(), len(). **Besides built-ins you can also create your own
functions to do more specific jobs—these are called user-defined functions.

# **Section 1.1: Defining and calling simple functions**

Using the **def** statement is the most common way to define a function in python. This statement is a so called single
clause compound statement with the following syntax:

In [ ]:
def function_name(parameters):
 statement(s)

***function_name*** is known as the identifier of the function. Since a function definition is an executable statement its
execution binds the function name to the function object which can be called later on using the identifier.

***parameters*** is an optional list of identifiers that get bound to the values supplied as arguments when the function is
called. A function may have an arbitrary number of arguments which are separated by commas.

***statement(s) – ***also known as the function body – are a nonempty sequence of statements executed each time the
function is called. This means a function body cannot be empty, just like any indented block

Here’s an example of a simple function definition which purpose is to print Hello each time it’s called:

In [ ]:
def greet():
 print("Hello")

Now let’s call the defined greet() function:

In [ ]:
greet()

Hello

That’s another example of a function definition which takes one single argument and displays the passed in value
each time the function is called:

In [ ]:
def greet_two(greeting):
 print(greeting)

After that the ***greet_two()*** function must be called with an argument:

In [ ]:
greet_two("sujan")

sujan

Also you can give a default value to that function argument:

In [ ]:
def greet_two(greeting="Relation ship"):
 print(greeting)

Now you can call the function without giving a value:

In [ ]:
greet_two()

Relation ship

You'll notice that unlike many other languages, you do not need to explicitly declare a return type of the function.
Python functions can return values of any type via the ***`return`*** keyword. One function can return any number of
different types!

In [ ]:
def many_types(x):
 if x < 0:
  return "Hello!"
 else:
  return 0
print(many_types(1))
print(many_types(-1))

0
Hello!

As long as this is handled correctly by the caller, this is perfectly valid Python code.
A function that reaches the end of execution without a return statement will always return None:

In [ ]:
def do_nothing():
 pass

In [ ]:
print(do_nothing())

None

As mentioned previously a function definition must have a function body, a nonempty sequence of statements.
Therefore the pass statement is used as function body, which is a null operation – when it is executed, nothing
happens. It does what it means, it skips. It is useful as a placeholder when a statement is required syntactically, but
no code needs to be executed.

# Section 1.2: Defining a function with an arbitrary number of arguments

**Arbitrary number of positional arguments:**

Defining a function capable of taking an arbitrary number of arguments can be done by prefixing one of the
arguments with a *

In [ ]:
def func(*args):
 # args will be a tuple containing all values that are passed in
 for i in args:
  print(i)

In [ ]:
func(1, 2, 3)

1
2
3

In [ ]:
list_of_arg_values = [1, 2, 3]

In [ ]:
func(*list_of_arg_values)

1
2
3

In [ ]:
func()

You can't provide a default for args, for example func`(*args=[1, 2, 3])` will raise a syntax error (won't even
compile).

You can't provide these by name when calling the function, for example `func(*args=[1, 2, 3])` will raise a
TypeError.

But if you already have your arguments in an array (or any other Iterable), you can invoke your function like this:
func(*my_stuff) **bold text**.

These arguments (*args) can be accessed by index, for example args[0] will return the first argument

**Arbitrary number of keyword arguments**

You can take an arbitrary number of arguments with a name by defining an argument in the definition with two *
in front of it:

In [ ]:
def func(**kwargs):
 # kwargs will be a dictionary containing the names as keys and the values as values
 for name, value in kwargs.items():
  print(name, value)

In [ ]:
func(value1=1, value2=2, value3=3) # Calling it with 3 arguments

value1 1
value2 2
value3 3

In [ ]:
func() # Calling it without arguments

#no output

In [ ]:
my_dict = {'foo': 1, 'bar': 2}
func(**my_dict) # Calling it with a dictionary
# Out: foo 1
# bar 2

foo 1
bar 2

You can't provide these without names, for example `func(1, 2, 3)` will raise a TypeError.

kwargs is a plain native python dictionary. For example, *args['value1']* will give the value for argument value1. Be
sure to check beforehand that there is such an argument or a KeyError will be raised

**Note**
You can mix these with other optional and required arguments but the order inside the definition matters.


1.  The positional/keyword arguments come first. (Required arguments)
2.  Then comes the arbitrary *arg arguments. (Optional).
3. Then keyword-only arguments come next. (Required).
4. Finally the arbitrary keyword **kwargs come. (Optional).

In [ ]:
def func(arg1, arg2=10 , *args, kwarg1, kwarg2=2, **kwargs):
 pass



*   arg1 must be given, otherwise a TypeError is raised. It can be given as positional (func(10)) or keyword
argument (func(arg1=10)).
*   kwarg1 must also be given, but it can only be provided as keyword-argument: func(kwarg1=10).
*  arg2 and kwarg2 are optional. If the value is to be changed the same rules as for arg1 (either positional or
keyword) and kwarg1 (only keyword) apply
* *args catches additional positional parameters. But note, that arg1 and arg2 must be provided as positional
arguments to pass arguments to *args: func(1, 1, 1, 1).
* **kwargs catches all additional keyword parameters. In this case any parameter that is not arg1, arg2,
kwarg1 or kwarg2. For example: func(kwarg3=10).
*  In Python 3, you can use * alone to indicate that all subsequent arguments must be specified as keywords.
For instance the math.isclose function in Python 3.5 and higher is defined using def math.isclose (a, b,
*, rel_tol=1e-09, abs_tol=0.0), which means the first two arguments can be supplied positionally but the
optional third and fourth parameters can only be supplied as keyword arguments

Python 2.x doesn't support keyword-only parameters. This behavior can be emulated with kwargs:

In [ ]:
!python setup.py install

python3: can't open file '/content/setup.py': [Errno 2] No such file or directory

In [ ]:
import keyword

In [ ]:
def func(arg1, arg2=10, **kwargs):
  try:
     kwarg1 = kwargs.pop("kwarg1")
  except KeyError:
        raise TypeError("missing required keyword-only argument: 'kwarg1'")
kwarg2 = kwargs.pop("kwarg2", 2)

NameError: name 'kwargs' is not defined

**Note on Naming**

The convention of naming optional positional arguments args and optional keyword arguments kwargs is just a
convention you can use any names you like but it is useful to follow the convention so that others know what you
are doing, or even yourself later so please do.

**Note on Uniqueness**

Any function can be defined with none or one *args and none or one **kwargs but not with more than one of
each. Also *args must be the last positional argument and **kwargs must be the last parameter. Attempting to use
more than one of either will result in a Syntax Error exception.

**Note on Nesting Functions with Optional Arguments**

It is possible to nest such functions and the usual convention is to remove the items that the code has already
handled but if you are passing down the parameters you need to pass optional positional args with a * prefix and
optional keyword args with a ** prefix, otherwise args with be passed as a list or tuple and kwargs as a single
dictionary. e.g.:

In [ ]:
def fn(**kwargs):
    print(kwargs)
    f1(**kwargs)

In [ ]:
def f1(**kwargs):
 print(len(kwargs))

In [ ]:
fn(a=1, b=2)

{'a': 1, 'b': 2}
2

# Section 1.3: Lambda (Inline/Anonymous) Functions

The lambda keyword creates an inline function that contains a single expression. The value of this expression is
what the function returns when invoked.

Consider the function:

In [ ]:
def greeting():
 return "Hello"

which, when called as:

In [ ]:
print(greeting())

Hello

This can be written as a lambda function as follows:

In [ ]:
greet_me = lambda: "Hello"

This creates an inline function with the name greet_me that returns Hello. Note that you don't write return when
creating a function with lambda. The value after : is automatically returned.

Once assigned to a variable, it can be used just like a regular function:

In [ ]:
print(greet_me())

Hello

lambdas can take arguments, too:

In [ ]:
strip_and_upper_case = lambda s: s.strip().upper()
strip_and_upper_case(" Hello ")

'HELLO'

They can also take arbitrary number of arguments / keyword arguments, like normal functions.

In [ ]:
greeting = lambda x, *args, **kwargs: print(x, args, kwargs)
greeting('hello', 'sujan', cybertron='cybertron')

hello ('sujan',) {'cybertron': 'cybertron'}

lambdas are commonly used for short functions that are convenient to define at the point where they are called
(typically with sorted, filter and map).

For example, this line sorts a list of strings ignoring their case and ignoring whitespace at the beginning and at the
end:

In [ ]:
sorted( [" foo ", " bAR", "BaZ "], key=lambda s: s.strip().upper())

[' bAR', 'BaZ ', ' foo ']

Sort list just ignoring whitespaces:

In [ ]:
sorted( [" foo ", " bAR", "BaZ "], key=lambda s: s.strip())

['BaZ ', ' bAR', ' foo ']

Examples with map:

In [ ]:
sorted( map( lambda s: s.strip().upper(), [" foo ", " bAR", "BaZ "]))

['BAR', 'BAZ', 'FOO']

In [ ]:
sorted( map( lambda s: s.strip(), [" foo ", " bAR", "BaZ "]))

['BaZ', 'bAR', 'foo']

Examples with numerical lists:

In [ ]:
my_list = [3, -4, -2, 5, 1, 7]
sorted( my_list, key=lambda x: abs(x))

[1, -2, 3, -4, 5, 7]

In [ ]:
list( filter( lambda x: x>0, my_list))

[3, 5, 1, 7]

In [ ]:
list( map( lambda x: abs(x), my_list))

[3, 4, 2, 5, 1, 7]

One can call other functions (with/without arguments) from inside a lambda function.

In [ ]:
def foo(msg):
 print(msg)

In [ ]:
greet = lambda x = "Hello Sujan": foo(x)
greet()

Hello Sujan

This is useful because lambda may contain only one expression and by using a subsidiary function one can run
multiple statements

# Section 1.4: Defining a function with optional arguments

Optional arguments can be defined by assigning (using =) a default value to the argument-name:

In [ ]:
def make(action='nothing'):
 return action

Calling this function is possible in 3 different ways:

In [ ]:
make("Sujan")

'Sujan'

In [ ]:
make(action="Killer frost")

'Killer frost'

In [ ]:
make()

'nothing'

# Section 1.5: Defining a function with optional mutable arguments

There is a problem when using optional arguments with a mutable default type (described in Defining a function
with optional arguments), which can potentially lead to unexpected behaviour.

**Explanation**

This problem arises because a function's default arguments are initialised once, at the point when the function is
defined, and not (like many other languages) when the function is called. The default values are stored inside the
function object's __defaults__ member variable.

In [ ]:
def f(a, b=42, c=[]):
 pass

In [ ]:
print(f.__defaults__)

(42, [])

For immutable types (see Argument passing and mutability) this is not a problem because there is no way to
mutate the variable; it can only ever be reassigned, leaving the original value unchanged. Hence, subsequent are
guaranteed to have the same default value. However, for a mutable type, the original value can mutate, by making
calls to its various member functions. Therefore, successive calls to the function are not guaranteed to have the
initial default value.

In [ ]:
def append(elem, to=[]):
 to.append(elem) # This call to append() mutates the default variable "to"
 return to

In [ ]:
append(1)

[1]

In [ ]:
append(2) # Appends it to the internally stored list

[1, 2]

In [ ]:
append(3, []) # Using a new created list gives the expected result

[3]

In [ ]:
append(4)

[1, 2, 4]

**Solution**

If you want to ensure that the default argument is always the one you specify in the function definition, then the
solution is to always use an immutable type as your default argument.

A common idiom to achieve this when a mutable type is needed as the default, is to use None (immutable) as the
default argument and then assign the actual default value to the argument variable if it is equal to None.

In [ ]:
def append(elem, to=None):
 if to is None:
    to = []
    to.append(elem)
    return to

# Section 1.6: Argument passing and mutability

First, some terminology:



*   argument (actual parameter): the actual variable being passed to a function;

*   parameter (formal parameter): the receiving variable that is used in a function

In Python, arguments are passed by assignment (as opposed to other languages, where arguments can be
passed by value/reference/pointer).



*   Mutating a parameter will mutate the argument (if the argument's type is mutable).

In [ ]:
def foo(x):
    x[0] = 9
    print(x)
y = [4,5,6]
foo(y)
print(y)

[9, 5, 6]
[9, 5, 6]



*   Reassigning the parameter won’t reassign the argument.

In [ ]:
def foo(x):
  x[0]=9
  x=[1,2,3]
  x[2]=8

y=[4,5,6]
foo(y)
y

[9, 5, 6]

In Python, we don’t really assign values to variables, instead we bind (i.e. assign, attach) variables
(considered as names) to objects.



*   Immutable: Integers, strings, tuples, and so on. All operations make copies.
*   Mutable: Lists, dictionaries, sets, and so on. Operations may or may not mutate.

In [ ]:
x=[3,1,9]
y=x
x.append(5)
x.sort()
x=x+[4]
z=x
x+=[6]
x=sorted(x)
x
y
z

[1, 3, 5, 9, 4, 6]

# Section 1.7: Returning values from functions

Functions can return a value that you can use directly:

In [ ]:
def give_me_five():
 return 5

In [ ]:
print(give_me_five()) # Print the returned value

5

or save the value for later use:

In [ ]:
num = give_me_five()
print(num)

5

or use the value for any operations:

In [ ]:
print(give_me_five() + 10)

15

If return is encountered in the function the function will be exited immediately and subsequent operations will not
be evaluated:

In [ ]:
def give_me_another_five():
 return 5
 print('This statement will not be printed. Ever.')

In [ ]:
print(give_me_another_five())

5

You can also return multiple values (in the form of a tuple):

In [ ]:
def give_me_two_fives():
 return 5, 5 # Returns two 5

In [ ]:
first, second = give_me_two_fives()
print(first)

5

In [ ]:
print(second)

5

A function with no return statement implicitly returns None. Similarly a function with a return statement, but no
return value or variable returns None.

# Section 1.8: Closure

Closures in Python are created by function calls. Here, the call to makeInc creates a binding for x that is referenced
inside the function inc. Each call to makeInc creates a new instance of this function, but each instance has a link to a
different binding of x.

In [ ]:
def makeInc(x):
 def inc(y):
  return y + x
 return inc

 incOne = makeInc(1)
 incFive = makeInc(5)

 incOne(5)
 incFive(5)

Notice that while in a regular closure the enclosed function fully inherits all variables from its enclosing
environment, in this construct the enclosed function has only read access to the inherited variables but cannot
make assignments to them

Python 3 offers the nonlocal statement (Nonlocal Variables ) for realizing a full closure with nested functions.

In [ ]:
def makeInc(x):
    def inc(y):
        # incrementing x is not allowed, as stated in the comment
        # however, `x` is from the enclosing scope so it will be
        # modified without using any specific keywords
        nonlocal x  # allows modification of the `x` from `makeInc`
        x += y  # incrementing `x` with the value `y`
        return x  # return the modified value of `x`
    return inc  # return the nested function `inc`

# Create an incrementing function starting with a base value of 1
incOne = makeInc(1)
# Increment the base value by 5 using the function
result = incOne(5)
print(result)  # This will print the updated value of x, which is 6

6

# Section 1.9: Forcing the use of named parameters

All parameters specified after the first asterisk in the function signature are keyword-only.

In [ ]:
def f(*a, b):
    pass

In [ ]:
f(1, 2, 3)

TypeError: f() takes 2 positional arguments but 3 were given

In Python 3 it's possible to put a single asterisk in the function signature to ensure that the remaining arguments
may only be passed using keyword arguments.

In [ ]:
def f(a, b, *, c):
 pass
f(1, 2, 3)

TypeError: f() takes 2 positional arguments but 3 were given

In [ ]:
f(1, 2, c=3)

# No error

TypeError: f() got an unexpected keyword argument 'c'

# Section 1.10: Nested functions

Functions in python are first-class objects. They can be defined in any scope

In [ ]:
def fibonacci(n):
 def step(a,b):
    return b, a+b
 a, b = 0, 1
 for i in range(n):
     a, b = step(a, b)
 return a

Functions capture their enclosing scope can be passed around like any other sort of object

In [ ]:
def make_adder(n):
  def adder(x):
    return n+x
  return adder

add5 = make_adder(5)
add6 = make_adder(6)
add5(10)
add6(10)

16

In [ ]:
def repeatedly_apply(func,n,x):
    for i in range(n):
      x = func(x)
      return x

repeatedly_apply(add5, 5, 1)

6

# Section 1.11: Recursion limit

There is a limit to the depth of possible recursion, which depends on the Python implementation. When the limit is
reached, a RuntimeError exception is raised:

In [ ]:
def cursing(depth):
    try:
      cursing(depth + 1) # actually, re-cursing
    except RuntimeError as RE:
       print('I recursed {} times!'.format(depth))

In [ ]:
cursing(0)

I recursed 953 times!I recursed 952 times!

It is possible to change the recursion depth limit by using sys.setrecursionlimit(limit) and check this limit by
`sys.getrecursionlimit()`

In [ ]:
import sys

In [ ]:
sys.setrecursionlimit(2000)
cursing(0)

I recursed 1953 times!I recursed 1952 times!

From Python 3.5, the exception is a RecursionError, which is derived from RuntimeError

# Section 1.12: Recursive Lambda using assigned variable

One method for creating recursive lambda functions involves assigning the function to a variable and then
referencing that variable within the function itself. A common example of this is the recursive calculation of the
factorial of a number - such as shown in the following code:

In [ ]:
lambda_factorial = lambda i:1 if i==0 else i*lambda_factorial(i-1)
print(lambda_factorial(4))

24

**Description of code**

The lambda function, through its variable assignment, is passed a value (4) which it evaluates and returns 1 if it is 0
or else it returns the current value (i) * another calculation by the lambda function of the value - 1 (i-1). This
continues until the passed value is decremented to 0 (return 1). A process which can be visualized as:

![image.png]()

# Section 1.13: Recursive functions

A recursive function is a function that calls itself in its definition. For example the mathematical function, factorial,
defined by `factorial(n) = n*(n-1)*(n-2)*...*3*2*1.` can be programmed as

In [ ]:
def factorial(n):
 #n here should be an integer
    if n == 0:
       return 1
    else:
        return n*factorial(n-1)

In [ ]:
factorial(0)

1

In [ ]:
factorial(3)

6

as expected. Notice that this function is recursive because the second return factorial(n-1), where the function
calls itself in its definition.
Some recursive functions can be implemented using lambda, the factorial function using lambda would be
something like this:
`factorial = lambda n: 1 if n == 0 else n*factorial(n-1)`
The function outputs the same as above.

# Section 1.14: Defining a function with arguments

Arguments are defined in parentheses after the function name:

In [ ]:
def divide(dividend, divisor): # The names of the function and its arguments
 # The arguments are available by name in the body of the function
 print(dividend / divisor)

The function name and its list of arguments are called the signature of the function. Each named argument is
effectively a local variable of the function.
When calling the function, give values for the arguments by listing them in order

In [ ]:
divide(10, 2)

5.0

or specify them in any order using the names from the function definition:

In [ ]:
divide(divisor=2, dividend=10)

5.0

# Section 1.15: Iterable and dictionary unpacking

Functions allow you to specify these types of parameters: positional, named, variable positional, Keyword args
(kwargs). Here is a clear and concise use of each type.

In [ ]:
def unpacking(a, b, *, c=45, d=60, **kwargs):
   print(a, b, c, d, args, kwargs)

In [ ]:
unpacking(1,2)

NameError: name 'args' is not defined

In [ ]:
# Install the necessary modules
!pip install argcomplete

# Import the necessary modules
from argcomplete import autocomplete

# Define the 'unpacking' function
def unpacking(a, b, *, c=45, d=60, **kwargs):
    print(a, b, c, d, kwargs)

# Enable autocompletion for the 'unpacking' function
autocomplete(unpacking)

# Call the 'unpacking' function with two arguments
unpacking(1, 2)

Collecting argcomplete
  Downloading argcomplete-3.3.0-py3-none-any.whl (42 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 42.6/42.6 kB 1.4 MB/s eta 0:00:00
Installing collected packages: argcomplete
Successfully installed argcomplete-3.3.0
1 2 45 60 {}

In [ ]:
unpacking(1, 2, 3, 4)

TypeError: unpacking() takes 2 positional arguments but 4 were given